---
layout: common
---

{% capture bin_name %}{% include get_bin_name path=page.path %}{% endcapture %}
{% include page_title.html title=bin_name %}
{% include filter_list.html bin=page %}

<h1>Recommandation:</h1>
<a href="javascript:void(0)" onClick="copyFunction_com()" style="float: right; margin-bottom: -10px;"><img src="/assets/copy-button.svg" alt="Copy" title="Copy" id="code_img"/></a>
<ul class="examples">
    <li>
	<pre><code id="code_text">{{ page.recommandation | escape }}</code></pre>
    </li>

</ul>

<h2>Description</h2>
{{ page.description | markdownify | newline_to_br }}

<h2>Tags:</h2>
{% for tag in page.tags %}
<a href="/#+{{ tag }}">{{ tag }}</a>
{% endfor %}

<h2>Sources:</h2>
{% for source in page.sources %}
<a href="{{ source }}">{{ source }}</a>
<br>
<br>
{% endfor %}
<script>

function copyFunction_com() {
	 var copyCommand = document.getElementById("code_text");

	 navigator.clipboard.writeText(copyCommand.innerText.replace(/\n+$/, "")).then(() => {
		 document.getElementById("code_img").alt = "Copied";
		 document.getElementById("code_img").title = "Copied";
	 }, () => {
		 console.log("copy failed");
	 });
}
</script>
